* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f!important;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.col{
    padding: 0px;
}
.card{
    margin: 10px;
    padding: 10px;
}