<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<title>Agenda</title>
<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <div class=" mr-auto p-2 navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fs-6 fw-bold" aria-current="page" href="/">Início</a>
            </li>
          </ul>
    </div>
    <div>
      <a class='me-3 p-2 btn btn-danger' href="/logout">Logout</a>
    </div>
</nav>
